.App {
  text-align: center;
  width: 80vw;
  margin: auto;
}

body{
  width: 100vw;
}

table {
  border-collapse: collapse;
  width: 80vw;
  margin: auto;
}

table th, td{
  padding:10px;
  border: 2px solid black;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBar{
  background-image: url('https://images.unsplash.com/photo-1543536448-1e76fc2795bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1024&q=80');
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
}


